body {
  color: white;
}
.container {
  margin-top: 30px;
}

.accordion-item {
  background-color: rgba(0, 0, 0, 0);
  margin: 0 auto;
  text-align: center;
}
.accordion-button {
  display: inline-block;
  margin-bottom: 1px;
}
.container {
  text-align: center;
}
.accordion-button p {
  text-align: center;
}
